* {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

canvas:hover {
  cursor: pointer;
}

div {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: "green";
}
